<!DOCTYPE html>
<html lang="en">
<head>
<meta content="text/html; charset=UTF-8" http_equiv="Content-Type" />
</head>
<body>
    <h1> pls remember confirmation email </h1>
    <p>
    hi there! you or someone with your email address (<%= @user.email %>) signed up to receive a haiku
    from me once daily. click the button below to verify:<br>
    </p>
    <div>
    <a href="<%= @verify_url %>" class='button'>verify</a>
    </div>
    <p>
    if you don't do anything, i won't send you any more emails, but at least someone was thinking about you and thought you'd like this!
    thanks and i love you
    </p>
</body>
</html>