<!DOCTYPE html>
<html lang="en">
<head>
<meta content="text/html; charset=UTF-8" http_equiv="Content-Type" />
</head>
<body>
    <h1>please remember</h1>
    <p><%= @daily.message %></p>
    
    <p>
    click the button below to unsubscribe:<br>
    </p>
    <div>
    <a href="<%= @unsubscribe_url %>" class='button'>unsubscribe</a>
    </div>
</body>
</html>