<!DOCTYPE html>
<html lang="en">
<head>
<meta content="text/html; charset=UTF-8" http_equiv="Content-Type" />
</head>
<body>
    <h1>please remember</h1>
    <p>Heads up! There are <%= @message_count %> unsent messages remaining. Better find some new ones.</p>
</body>
</html>